

<div class="">

  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex justify-content-center py-4">
            <div href="index.html" class="logo d-flex align-items-center w-auto">
              <img src="assets/img/logo.png" alt="">
              <span class="d-none d-lg-block">Email verification</span>
            </div>
          </div><!-- End Logo -->

          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Reset your password</h5>
                <p class="text-center small">Enter your email address for verification.</p>
              </div>

              <form id="sendotpForm" method="POST" class="row g-3 needs-validation" novalidate>

                <div class="col-12">
                  <label for="yourUsername" class="form-label">Email</label>
                  <div class="input has-validation">
                    {{!-- <span class="input-group-text" id="inputGroupPrepend">@</span> --}}
                    <input type="email" name="email" class="form-control" required="">
                    <div class="invalid-feedback">Please enter a valid Email.</div>
                  </div>
                </div>

               
                <div class="col-12">
                  <button id="submitBtn" type="submit" class="ui primary button  w-100">Send OTP</button>
						      <button id="submitLoading" class="ui primary loading button d-none w-100">Loading</button>
                </div>
                {{!-- <div class="col-12">
                  <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                </div> --}}
              </form><br><br>
              <div class="col-12">
                <p class="fs-6">Changed your mind? <a href="/admin">Go back to Login</a></p>
            </div>

            </div>
          </div>

          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            {{!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> --}}
          </div>

        </div>
      </div>
    </div>

  </section>

</div>





<script>
  //--Email validation 
    const validateEmail = ($email)=> {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test( $email );
    }
    
   //Form validation  
    $('#sendotpForm').on('submit', (e)=>
    {
        e.preventDefault()

        //Convert input value toString()
        let email = $('[name=email]').val()
    
        //Empty FORM
        if(email == "" || email.length > 30 ){
          $.toast({
              heading: 'Error',
              text: 'Please enter a valid Email address',
              position: 'top-right',
              icon: 'error',
              hideAfter: 4000,
              loader: true, 
              stack: false
          })
        }

        else
        {
            if(validateEmail(email) == false)
            {
              $.toast({
                  heading: 'Warning',
                  text: 'Please check your email address',
                  position: 'top-right',
                  icon: 'warning',
                  hideAfter: 5000,
                  loader: true, 
                  stack: false
              })
              return false
            }

            //Send to the server for further troubleshooting 
            $.ajax({
                type: 'POST',
                url: '/admin/sendOTP',
                data: { 
                    form_email : email
                },
                success: function(res)
                {
                    console.log(res)
                    //return false
                    if(res == 'notFound'){
                        $.toast({
                            heading: 'Access denied',
                            text: 'Your email is not registered with us',
                            position: 'top-right',
                            icon: 'warning',
                            hideAfter: 7000,
                            loader: true, 
                            stack: false
                        })
                    }
                    else
                    {
                      $.toast({
                          heading: 'Check your email',
                          text: 'An OTP has been sent to your address',
                          position: 'top-right',
                          icon: 'success',
                          hideAfter: 3000,
                          loader: true, 
                          stack: false
                      })
                      //Btn swap 
                      $('#submitBtn').addClass('d-none')
                      $('#submitLoading').removeClass('d-none')
                      //Allow form submission 
                      setTimeout(function(){
                          //
                          console.log(res)
                          window.location = '/admin/otp-auth'
                          
                      }, 2200);
                       
                    }
                        
                }, error: function(e){
                    console.log(e)
                }
            })//End Ajax
        }
        

    }) //End Login Form submission 
</script>