<main>
    <div class="">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <div  class="logo d-flex align-items-center w-auto">
                  {{!-- <img src="assets/img/logo.png" alt=""> --}}
                  <span class="d-none d-lg-block">Password Reset</span>
                </div>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body" id="card-content">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create a new password</h5>
                    <p class="text-center small">Enter a new password and confirm it</p>
                  </div>

                  <form id="resetForm" class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="yourName" class="form-label">New password</label>
                      <input type="password" name="pwd1" class="form-control" required="">
                      <div class="invalid-feedback">Please, enter your new password!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourName" class="form-label">Confirm your new password</label>
                      <input type="password" name="pwd2" class="form-control" required="">
                      <div class="invalid-feedback">Please, Confirm your new password</div>
                    </div>

       

                    {{!-- <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required="">
                        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                        <div class="invalid-feedback">You must agree before submitting.</div>
                      </div>
                    </div> --}}

                    <div class="col-12">
                      <button id="resetLoading" class="ui primary w-100 loading button d-none">Loading</button>
                      <button id="resetBtn"  class="btn btn-primary w-100" type="submit">Reset password</button>
                    </div>

                    <div class="col-12">
                      <p class="fs-6">Changed your mind? <a href="/admin">Go back to Login</a></p>
                    </div>
                  </form>

                </div>
              </div>

              
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
              

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>



  <script>
  //Form validation 
    $('#resetForm').on('submit', (e)=>
    {
      e.preventDefault()

      //Convert input value toString()
      let pwd1 = $('[name=pwd1]').val()
      let pwd2 = $('[name=pwd2]').val()
  
      //Empty FORM
      if(pwd1 == "" || pwd1.length > 12 || pwd2.length > 12 ){
        $.toast({
            heading: 'Error',
            text: 'Please enter a valid password',
            position: 'top-right',
            icon: 'error',
            hideAfter: 4000,
            loader: true, 
            stack: false
        })
      }

      else
      {
        //Matching password
        if(pwd1 != pwd2 || pwd2 == ""){
          $.toast({
              heading: 'Warning',
              text: 'Passwords not matching',
              position: 'top-right',
              icon: 'warning',
              hideAfter: 4000,
              loader: true, 
              stack: false
          })
        }
        else
        {
          //Send to the server for further troubleshooting 
            $.ajax({
                type: 'POST',
                url: '/admin/resetpwd',
                data: { 
                  new_pwd : pwd1 
                },
                success: function(res)
                {
                    console.log(res)
                    //return false
                    if(res != 'All good'){
                        $.toast({
                            heading: 'Error',
                            text: "Something went wrong please try again",
                            position: 'top-right',
                            icon: 'error',
                            hideAfter: 7000,
                            loader: true, 
                            stack: false
                        })
                    }
                    else
                    {
                      $.toast({
                          heading: 'Success',
                          text: 'Your password has been reset',
                          position: 'top-right',
                          icon: 'success',
                          hideAfter: 4000,
                          loader: true, 
                          stack: false
                      })

                      //Btn swap 
                    $('#resetBtn').addClass('d-none')
                    $('#resetLoading').removeClass('d-none')

                    //Delay redirection 
                    setTimeout(function(){
                      //
                      $('#card-content').html(`<div class="pt-4 pb-2">
                        <h5 class="card-title px-3 text-center pb-0 fs-4">Password successfuly changed!</h5>
                        <p class="text-center small">Try it out and have fun !</p>
                      </div><br /><a class=" text-center big ui primary button  w-100 " href='/admin'>Login</a><br /> <br /> 
                        <p class="text-center small mt-3">We have emailed you on the same.</p>`)
                        
                    }, 2100);
                        
                    }
                        
                }, error: function(e){
                    console.log(e)
                }
            })//End Ajax
          }
      }//End Valide pwd entered 


  }) //End Login Form submission 
</script>