
<center>
  <div class="mb-6 mt-5">
    {{!-- <p>
      <span class="fs-1"><b>Fundraising Grader</b></span><br />
      
    </p> --}}
    <h1>Fundraising Grader</h1>
  </div>
</center>

<div class="row">
  <div class="offset-md-3 col-md-6 offset-md-3">
    <div class="card card-profile">
      <div class="card-header" style="background-image: url(demo/photos/mtn.jpg);"></div>
      <div class="card-body text-center">
        <h3 class="mb-3">Redeem your bonus</h3>
        <p class="mb-4">
          Make sure you've filled the Google form form with your <b>MTN MOBILE MONEY phone number.</b>
        </p>  
        <br />
        <a href="#" class="btn btn-outline-primary btn-md">
        <span class="fa fa-edit"></span> Go back to edit the Form
        </a>
        <br /><br />
        <form action="/process" method="post" class="mt-5  pb-9">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your phone number">
            <span class="input-group-append">
              <button class="btn btn-primary" type="submit">Submit</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




